version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: springboot-app
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - postgres_default

networks:
  postgres_default:
    external: true
