spring.application.name=yavigestion
spring.application.version=1.0.0
server.port=${SERVER_PORT:8080}
server.servlet.context-path=/yavirac


# Postgres config
spring.datasource.url=${POSTGRES_URL:jdbc:postgresql://localhost:5433/yavigestion}
spring.datasource.username=${POSTGRES_USER:postgres}
spring.datasource.password=${POSTGRES_PASS:postgres}
spring.jpa.hibernate.ddl-auto=update

app.jwt.secret=K5+/pD6Cz07j3X1G9KqvH8XbJQePwE5w1W3DHe6p7B+jkTfKImBz5pS7p3zljm4n8N9PZxq1mP3rHsBz9b5T1w==
app.jwt.expiration-ms=9000


# Este es un ejemplo de trabajo con GIT
